body {
    background-image: url("../images/market.jpeg");
    background-size: cover;
    
}

.content {
	width: 700px;
	min-height: 800px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: border-box;
    background-image: url("../images/sticker.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: 'Dancing Script', cursive;
}

h1 {
    margin-top: 2em;
    padding-top: 1em;
    margin-left: 1em;
    text-align: center;
    font-size: 3em;
    height: 20px;
}

#budget-summary {
    height: 50px;
    width: 700px;
    margin-top: 1.5em;
    margin-left: 7.3em;
    display: inline-flex;
    text-align: center;
    font-size: 1.7em;
}

.money-left {
    margin-left: 7.3em;
    font-size: 1.7em;
}

#budget {
    width: 4em;
    margin-left: 0.3em;
    margin-bottom: 0.4em;
}

.update {
    margin-left: 0.6em;
    margin-bottom: 0.4em;
}

#item-input {
    width: 400px;
    margin-top: 1.5em;
    margin-left: 3.8em;
    padding-left: 5.5em;
    font-size: 1.5em;
}

#item-input > input {
    width: 6em;
}

#item-value {
    margin-left: 1.97em;
}

#quantity-value {
    margin-left: 0.46em;
}

.instructions {
    margin-top: 1.5em;
    margin-left: 11.4em;
    list-style: none;
    display: inline-flex;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.add {
    margin-top: 1em;
    margin-left: 2.4em;
}

.column-names {
    margin-top: 1.7em;
    margin-left: 6em;
    list-style: none;
    display: inline-flex;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.shopping-list {
    display: block;
    list-style: none;
    font-size: 1.5em;
}

.shopping-list > li {
    width: 75%;
    margin-left: 3.3em;
    margin-bottom: .5em;
    display: inline-flex;
}

.delete {
    margin-left: 2em;
    font-size: .8em;
}

.checkboxes {
    margin-top: .3em;
    margin-right: .5em;
}

.item-name-column, .item-name-output {
    width: 4em;
}

.quantity-column, .cost-column, .quantity-output, .cost-output {
    text-align: right;
    width: 5em;
}

li.crossout {
    text-decoration: line-through;
}

.total {
    margin-top: 2em;
    margin-right: 9.3em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    font-size: 1.7em;
    text-align: right;
    font-weight: bold;
}

.total > div {
    margin-bottom: .5em;
}
