body {
    background-image: url("https://images.unsplash.com/photo-1422919869950-5fdedb27cde8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=8c43096ed2514cc3cac2e36743501c6b");
    background-size: cover;
    
}

.content {
	width: 700px;
	min-height: 800px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: border-box;
    background-image: url("../images/sticker.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: 'Dancing Script', cursive;
}

h1 {
    margin-top: 2em;
    padding-top: 1em;
    margin-left: 1.5em;
    text-align: center;
    font-size: 3em;
    height: 20px;
}

#budget-summary {
    height: 50px;
    width: 700px;
    margin-top: 1.3em;
    margin-left: 7.5em;
    display: inline-flex;
    text-align: center;
    font-size: 1.7em;
}

<<<<<<< HEAD
form {
    margin-top: 3em;
    margin-left: 5.7em;
=======
.money-left {
    margin-left: 7.5em;
    font-size: 1.7em;
}

#POST-budget {
    width: 4em;
    margin-left: 0.3em;
    margin-bottom: 0.4em;
}

.update {
    margin-left: 0.6em;
    margin-bottom: 0.4em;
}

#item-input {
    width: 400px;
    margin-top: 1.5em;
    margin-left: 3.8em;
    padding-left: 5.5em;
>>>>>>> ad61c34c8d2094adb49160a84a5af2bf714ff45b
    font-size: 1.5em;
}

#item-input > input {
    width: 6em;
}

#POST-item-value {
    margin-left: 1.97em;
}

#POST-quantity-value {
    margin-left: 0.46em;
}

.add {
    margin-top: 1em;
    margin-left: 2.4em;
}

.column-names {
    margin-top: 1.8em;
    margin-left: 6.8em;
    list-style: none;
    display: inline-flex;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

.shopping-list {
    display: block;
    list-style: none;
    font-size: 1.5em;
}

.shopping-list > li {
    width: 75%;
    margin-left: 4em;
    margin-top: .5em;
    display: inline-flex;
}

.delete {
    margin-left: 2em;
    font-size: .8em;
}

.checkboxes {
    margin-top: .3em;
    margin-right: .5em;
}

.item-name-column, .item-name-output {
    width: 4em;
}

.quantity-column, .cost-column, .quantity-output, .cost-output {
    text-align: right;
    width: 5em;
}

li.crossout {
    text-decoration: line-through;
}

.total {
    margin-top: 2em;
    margin-right: 9.4em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    font-size: 1.5em;
    text-align: right;
    font-weight: bold;
}

.total > div {
    margin-bottom: .5em;
}
